 
@tailwind base;
@tailwind components;
@tailwind utilities; 

.site-container{
    width: 60%;
    margin: auto;
}
nav.main-menu ul{
    display: flex;
    li:last-child{
        margin-left: 2em;
    }
}
.hero.bg-custom-image {
    background-image: url('../assets/img/mahabharat.png');
    background-size: cover;
    background-position: center;
}