 
@tailwind base;
@tailwind components;
@tailwind utilities; 

:root{
    --card-badge-color : #4B6BFB;
}

.site-container{
    width: 66.66%;
    margin: auto;
    max-width: 1216px;
}
nav.main-menu ul{
    display: flex;
    li:last-child{
        margin-left: 2em;
    }
}
.hero.bg-custom-image {
    background-image: url('../assets/img/mahabharat.png');
    background-size: cover;
    background-position: center;
}
.card-badge {
    color: var(--card-badge-color);
    font-size: 14px;
}